@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

*::selection{
  background-color: #ff6beb;
  color: black;
}

/* Add this to your CSS or stylesheet */
.bell-icon {
  display: inline-block;
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.bell-icon:hover {
  transform: scale(1.1);
}
